<h4>Location: Work</h4>
<div class="btn-group-vertical center-block">
    <button type="button" class="btn btn-default" ng-disabled="working" ng-click="resource.workTime(14400000)">1 Shift (4 hours)</button>
    <button type="button" class="btn btn-default" ng-disabled="working" ng-click="resource.workTime(28800000)">2 Shifts (8 hours)</button>
    <button type="button" class="btn btn-default" ng-disabled="working" ng-click="resource.workTime(43200000)">3 Shifts (12 hours)</button>
    <button type="button" class="btn btn-default" ng-disabled="working" ng-click="resource.changeLocation(0)">Go Home</button>
</div>